@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --light: #F9F9F9;
  --blue: #2470f3;
  --grey: #eee;
  --dark: #342E37;
  --dark-grey: #AAAAAA;
}

#sidebarSB {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: 'Lato', sans-serif;
  transition: width 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

#sidebarSB::-webkit-scrollbar {
  display: none;
}

#sidebarSB.hide {
  width: 60px;
}

.brandSB .textSB {
  color: #247A96;
}

.brandSB .bx {
  color: #247A96;
}

#sidebarSB .brandSB {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebarSB .brandSB .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

.brandSB:active {
  color: #247A96;
}

#sidebarSB .side-menuSB {
  width: 100%;
  margin-top: 48px;
}

#sidebarSB .side-menuSB li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
  transition: background 0.3s ease;
}

#sidebarSB .side-menuSB li.active {
  background: #2A8993;
  position: relative;
}

#sidebarSB .side-menuSB li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 #2A8993;
  z-index: -1;
}

#sidebarSB .side-menuSB li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 #2A8993;
  z-index: -1;
}

#sidebarSB .side-menuSB li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
  transition: color 0.3s ease, width 0.3s ease;
}

#sidebarSB .side-menuSB.top li.active a {
  color: #247A96;
}

#sidebarSB.hide .side-menuSB li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#sidebarSB .side-menuSB li a.logout {
  color: #247A96;
}

#sidebarSB .side-menuSB.top li a:hover {
  color: #247A96;
}

#sidebarSB .side-menuSB li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

.no-effect {
  all: unset;
  display: contents;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
